
.create-course-btn:hover{
    background-color: rgb(69 69 69);
}
.create-course-btn{
    background-color: rgb(39, 39, 39);
        color: white;
    padding: 10px 20px;
    width: auto;
    transition: 0.5s all ease-in-out;
}